.about-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90%;

    .about-page--inner {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .avatar {
            border-radius: 50%;
            margin-bottom: 2rem;
        }

        .name {

        }

        .job {
            font-size: 18px;
            color: #525252;
            margin-bottom: 1rem;
        }

        .contact {
            a {
                color: $electric-violet;
            }
        }

        .about {
            text-align: center;
            padding: 1rem;
            max-width: 700px;
        }


        .languages,
        .tools {
            width: 100%;
            margin-bottom: 1.25rem;

            h4 {
                margin-bottom: 0.75rem;
                text-align: center;
            }

            div {
                display: flex;
                justify-content: center;
            }

            .badge {
                background-color: $electric-violet;
                color: $white;
                margin: 0 0.25rem;
            }
        }
    }
}
